USE [master]
GO
/****** Object:  Database [RealEstateDB]    Script Date: 12/06/2026 6:13:55 PM ******/
CREATE DATABASE [RealEstateDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RealEstateDB', FILENAME = N'C:\Users\HLV\RealEstateDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RealEstateDB_log', FILENAME = N'C:\Users\HLV\RealEstateDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RealEstateDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RealEstateDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/06/2026 6:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/06/2026 6:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Slug] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 12/06/2026 6:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ProvinceId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 12/06/2026 6:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RealEstateImages]    Script Date: 12/06/2026 6:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RealEstateImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RealEstateId] [int] NOT NULL,
	[ImageUrl] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RealEstates]    Script Date: 12/06/2026 6:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RealEstates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Area] [float] NOT NULL,
	[AddressNumber] [nvarchar](255) NULL,
	[WardId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Status] [int] NULL,
	[IsVIP] [bit] NULL,
	[Direction] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ImageUrl] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/06/2026 6:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedList]    Script Date: 12/06/2026 6:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedList](
	[UserId] [int] NOT NULL,
	[RealEstateId] [int] NOT NULL,
	[SavedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RealEstateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/06/2026 6:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wards]    Script Date: 12/06/2026 6:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wards](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DistrictId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260530184735_CreateUsersTableOnly', N'8.0.23')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Slug]) VALUES (1, N'Căn hộ Chung cư', N'can-ho-chung-cu')
INSERT [dbo].[Categories] ([Id], [Name], [Slug]) VALUES (2, N'Đất nền dự án', N'dat-nen-du-an')
INSERT [dbo].[Categories] ([Id], [Name], [Slug]) VALUES (3, N'Nhà phố nguyên căn', N'nha-pho-nguyen-can')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[RealEstates] ON 

INSERT [dbo].[RealEstates] ([Id], [Title], [Description], [Price], [Area], [AddressNumber], [WardId], [CategoryId], [UserId], [Status], [IsVIP], [Direction], [CreatedDate], [ImageUrl]) VALUES (3, N'Bán căn hộ Panorama view toàn thành phố Đà Lạt cực đẹp', N'Căn hộ chính chủ 2 phòng ngủ, đầy đủ nội thất cao cấp, ban công rộng rãi thoáng mát...', CAST(2500000000.00 AS Decimal(18, 2)), 75.5, N'Đường Trần Hưng Đạo, Phường 10', 1, 1, 1, 1, 0, N'Đông Nam', CAST(N'2026-05-27T01:42:31.933' AS DateTime), NULL)
INSERT [dbo].[RealEstates] ([Id], [Title], [Description], [Price], [Area], [AddressNumber], [WardId], [CategoryId], [UserId], [Status], [IsVIP], [Direction], [CreatedDate], [ImageUrl]) VALUES (4, N'Đất nền thổ cư sổ hồng riêng ngay trung tâm hành chính', N'Diện tích vuông vắn, đường nhựa 12m ô tô né nhau, thích hợp đầu tư hoặc xây khách sạn...', CAST(4200000000.00 AS Decimal(18, 2)), 120, N'Đường Hùng Vương, Phường 9', 2, 2, 1, 1, 0, N'Tây Bắc', CAST(N'2026-05-27T01:42:31.933' AS DateTime), NULL)
INSERT [dbo].[RealEstates] ([Id], [Title], [Description], [Price], [Area], [AddressNumber], [WardId], [CategoryId], [UserId], [Status], [IsVIP], [Direction], [CreatedDate], [ImageUrl]) VALUES (5, N'Nhà phố phong cách Vintage hoài cổ ngay gần Hồ Xuân Hương', N'Thiết kế 1 trệt 2 lầu thích hợp kinh doanh homestay hoặc lưu trú du lịch, khu an ninh tốt...', CAST(6800000000.00 AS Decimal(18, 2)), 90.2, N'Đường Bùi Thị Xuân, Phường 2', 1, 3, 1, 1, 0, N'Nam', CAST(N'2026-05-27T01:42:31.933' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[RealEstates] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (2, N'Agent')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Email], [PhoneNumber], [RoleId], [IsActive]) VALUES (1, N'admin', N'123456', N'Quản trị viên Hệ thống', N'admin@gmail.com', N'0901234567', 1, 1)
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Email], [PhoneNumber], [RoleId], [IsActive]) VALUES (6, N'ntviethoang', N'123456', N'ntuaghaoidq', N'asd@gmail.com', NULL, 2, 1)
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Email], [PhoneNumber], [RoleId], [IsActive]) VALUES (7, N'vietnv', N'123456', N'lahgsdsjgh', N'vietnv36603@sacombank.com', NULL, 2, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4F148416C]    Script Date: 12/06/2026 6:13:55 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105345324BC99]    Script Date: 12/06/2026 6:13:55 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RealEstates] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[RealEstates] ADD  DEFAULT ((0)) FOR [IsVIP]
GO
ALTER TABLE [dbo].[RealEstates] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SavedList] ADD  DEFAULT (getdate()) FOR [SavedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_Districts_Provinces] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_Districts_Provinces]
GO
ALTER TABLE [dbo].[RealEstateImages]  WITH NOCHECK ADD  CONSTRAINT [FK_Images_RealEstates] FOREIGN KEY([RealEstateId])
REFERENCES [dbo].[RealEstates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RealEstateImages] NOCHECK CONSTRAINT [FK_Images_RealEstates]
GO
ALTER TABLE [dbo].[RealEstates]  WITH NOCHECK ADD  CONSTRAINT [FK_RealEstates_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[RealEstates] NOCHECK CONSTRAINT [FK_RealEstates_Categories]
GO
ALTER TABLE [dbo].[RealEstates]  WITH NOCHECK ADD  CONSTRAINT [FK_RealEstates_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RealEstates] NOCHECK CONSTRAINT [FK_RealEstates_Users]
GO
ALTER TABLE [dbo].[RealEstates]  WITH NOCHECK ADD  CONSTRAINT [FK_RealEstates_Wards] FOREIGN KEY([WardId])
REFERENCES [dbo].[Wards] ([Id])
GO
ALTER TABLE [dbo].[RealEstates] NOCHECK CONSTRAINT [FK_RealEstates_Wards]
GO
ALTER TABLE [dbo].[SavedList]  WITH NOCHECK ADD  CONSTRAINT [FK_SavedList_RealEstates] FOREIGN KEY([RealEstateId])
REFERENCES [dbo].[RealEstates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SavedList] NOCHECK CONSTRAINT [FK_SavedList_RealEstates]
GO
ALTER TABLE [dbo].[SavedList]  WITH NOCHECK ADD  CONSTRAINT [FK_SavedList_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SavedList] NOCHECK CONSTRAINT [FK_SavedList_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Wards]  WITH CHECK ADD  CONSTRAINT [FK_Wards_Districts] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([Id])
GO
ALTER TABLE [dbo].[Wards] CHECK CONSTRAINT [FK_Wards_Districts]
GO
USE [master]
GO
